*:focus {
  box-shadow: none !important;
}

select option {
  background: rgba(0, 0, 0, 0.7) !important;
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4) !important;
}

.listMarginLeft ul, ol {
  margin-left: 50px !important;
}